/******* Comun ***/
.wwFormTable td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 10px;
}

.wwFormTableConsulta td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	width: 250px;
}

#formResult {
	margin-top: 10px;
}

#formResult td {
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

.tdLabel {
	text-align: left !important;
	vertical-align: middle;
}

.required {
	color: #005C81 !important;
}

.actionMessage span {
	color: #005C81 !important;
	font-weight: bold;
	font-size: 13px;
}

.actionMessage {
	list-style-type: none;
	padding-left: 30px;
	padding-bottom: 15px;
}

.errorMessage {
	list-style-type: none;
	padding-left: 30px;
	padding-bottom: 15px;
}

.errorTexto {
	list-style-type: none;
	padding-top: 150px;
	padding-left: 30px;
}

.botonAceptarError {
	float: left;
	padding: 8px 0 150px 200px;
}

.ui-jqgrid-sortable {
	margin-top: 4px;
	cursor: auto !important;
}

#gbox_gridtable {
	z-index: 0;
}

#divErrores {
	clear: both;
	padding-left: 20px;
}

#divErrores span {
	clear: both;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: red;
	text-align: center;
	padding-left: 30px;
	padding-bottom: 5px;
}

#divMensajeNoHayDatos {
	text-align: left;
	color: red;
	font-size: 13px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	clear: both;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 50px;
}

.legend {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0.2em 0.5em;
	text-align: left;
	color: #1d5878;
}

.fieldset-75 {
	border .radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	-ms-border-radius: 9px;
	width: 75%;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #87B6D9;
}

.fieldset-50 {
	border .radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	-ms-border-radius: 9px;
	width: 50%;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #87B6D9;
}

.fieldset-80 {
	border .radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	-ms-border-radius: 9px;
	width: 80%;
	margin-left: 25px;
	margin-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #1d5878;
}

.fieldset-login {
	border .radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	-ms-border-radius: 9px;
	width: 250px;
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 5px 5px 5px;
	border: 1px solid #87B6D9;
}

.table-margin-left-10 {
	margin-left: 10px;
}

.table-margin-left-10 td {
	text-align: left !important;
}

#formResultConf {
	margin-top: -15px;
}

#formResultConf .tdLabel {
	width: 300px;
}

.botonEnviarConf {
	float: right;
	width: auto;
	padding: 0px 140px 0px 0px;
}

.botonAceptar {
	float: left;
	padding: 8px 0 0 85px;
}

/** cabecera header **/
#header {
	background-image: url(../images/bg_head.jpg);
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 83px;
	position: relative;
}

#header-left-logo {
	background-image: url(../images/tecsidel_logo.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 153px;
	height: 45px;
	float: left;
	top: 22px;;
	left: 22px;
}

#header-right-nombre {
	color: #FFFFFF;
	display: block;
	position: absolute;
	font-family: 'TelefonicaTextBold', Tahoma, Arial, Helvetica, sans-serif;
	font-size: 2.1em;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1em;
	position: absolute;
	width: 220px;
	height: 60px;
	right: 10px;
	top: 38px;
}

#headerButtonsContainer .menu {
	clear: none;
	float: right;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 8px;
	padding: 0;
	width: auto;
}

#headerButtonsContainer .menu li {
	border-left: 1px solid #61D6EF;
	color: #73cad3;
	display: inline-block;
	font-size: 1.0em;
	height: 16px;
	line-height: 16px;
	list-style-image: none;
	list-style-type: none;
	padding: 0 10px;
}

#headerButtonsContainer .menu li:first-child {
	border-left: medium none;
}

#headerButtonsContainer .menu li a {
	color: #61D6EF;
	text-decoration: none;
}

#headerButtonsContainer .menu li a:hover {
	text-decoration: underline;
}

/** Menu superior **/
#menuSuperior {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	height: 32px;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
}

#menuSuperior ul {
	list-style-type: none;
	padding-bottom: 0;
	padding-left: 10px;;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("../images/bg_menu.gif");
	background-origin: padding-box;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	height: 32px;
	z-index: 1000;
}

#menuSuperior ul li.nivel1 {
	float: left;
	margin-right: 0px;
	width: 190px;
	background-image: url("../images/mainmenu_pest_on.gif");
	background-repeat: no-repeat;
	background-size: auto auto;
	margin: 0;
	padding: 0;
	float: left;
	height: 32px;
}

#menuSuperior ul li a {
	color: #FFFFFF;
	background-image: url("../images/mainmenu_pest_off.gif");
	display: block !important;
	padding: 8px;
	margin-left: 0px;
	position: relative;
	text-decoration: none;
}

#menuSuperior ul li:hover {
	position: relative;
}

#menuSuperior ul li a:hover {
	background: #005C81;;
	position: relative;
}

#menuSuperior ul li:hover a.nivel1 {
	background: #005C81;;
	position: relative;
}

#menuSuperior ul li a.nivel1 {
	display: block !important;
	position: relative;
}

#menuSuperior ul li ul {
	display: none;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}

#menuSuperior ul li a:hover ul {
	display: block;
	left: 0px;
	position: absolute;
	font-weight: normal;
}

#menuSuperior ul li:hover ul {
	display: block;
	left: 0px;
	position: absolute;
	font-weight: normal;
}

#menuSuperior ul li ul li a {
	padding: 6px 10 8px;
	width: 175px;
	background-image: url("../images/mainmenu_pest_off.gif");
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	color: #FFFFFF;
	margin-left: -10px;
}

#menuSuperior ul li ul li a:hover {
	position: relative;
}

/** Pie **/
.region-footer {
	background: url("../images/bg_pie.jpg") no-repeat scroll 0 0 transparent;
	clear: both;
	float: left;
	height: 60px;
	margin-top: 0px;
	overflow: hidden;
	width: 988px;
	border-top-width: 1px;
	border-top-style: hidden;
	border-top-color: #005C81;
	border-bottom-width: 1px;
	border-bottom-style: hidden;
	border-bottom-color: #005C81;
	border-right-width: 1px;
	border-right-style: hidden;
	border-right-color: #005C81;
	border-left-width: 1px;
	border-left-style: hidden;
	border-left-color: #005C81;
	padding-right: 0;
	padding-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	position: relative;
}

.region-footer .content {
	clear: both;
	float: left;
	line-height: normal;
	padding: 30px 0 0 35px;
	width: 850px;
}

.region-footer .logo-footer {
	color: white;
	float: left;
	font-size: 1.0em;
	font-weight: bold;
	margin-right: 18px;
}

.region-footer .menu {
	clear: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 700px;
}

.region-footer .menu li {
	border-left: 1px solid #61D6EF;
	color: #61D6EF;
	display: inline-block;
	font-size: 1.0em;
	height: 16px;
	line-height: 16px;
	list-style-image: none;
	list-style-type: none;
	padding: 0 10px;
}

.region-footer .menu li:first-child {
	border-left: medium none;
}

.region-footer .menu li a {
	color: #61D6EF;
	text-decoration: none;
}

.region-footer .menu li a:hover {
	text-decoration: underline;
}

/** Bienvenida **/
h2 span.bienvenida {
	display: block;
	border-bottom: 1px hidden #005C81;
	color: #005C81;
	font: bold 15px normal Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
	padding-left: 15px;
	width: 96%;
	text-align: left;
}

div.box-grisobreblanco {
	height: 1%;
	background: #ffffff url(../images/box-grisobreblanco-rb.gif) no-repeat
		right bottom;
}

div.box-grisobreblanco>div {
	background: transparent url(../images/box-grisobreblanco-lb.gif)
		no-repeat left bottom;
}

div.box-grisobreblanco>div>div {
	background: transparent url(../images/box-grisobreblanco-rt.gif)
		no-repeat right top;
}

div.box-grisobreblanco>div>div>div {
	padding: 5px 0;
	background: transparent url(../images/box-grisobreblanco-lt.gif)
		no-repeat left top;
}

div.box-grisobreblanco>div>div>div>div {
	padding: 0 1px;
	background-color: #bfc4c8;
} /* background-color=color borde de la caja */
div.box-grisobreblanco>div>div>div>div>div {
	background-color: #e6e7e8;
} /* background-color=color fondo de la caja */
div.box-grisobreblanco .box-contenido {
	height: 1%;
	padding: 0.91em;
}

/** Contextulización **/
#franjarastro-subhome {
	height: 23px;
	line-height: 40px;
	position: relative;
	padding: 7px 0 7px 11px;
}

.rastro-categoria {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

.rastro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

#franjarastro-subhome2 {
	height: 23px;
	line-height: 40px;
	position: relative;
	padding: 0 0 15px 11px;
}

#franjarastro-subhome2 .menu-imprimir {
	background: url(../images/imprimir.gif) top left no-repeat;
	float: right;
	height: 23px;
	width: 110px;
	padding: 0 0 1px 1px;
}

#franjarastro-subhome2 a {
	margin: 1em 0 1em 0.82em;
	padding: 1em;
	line-height: 1.54em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.91em;
	color: #555;
	text-decoration: none;
}

h1 {
	font-size: 1em;
	padding-bottom: 3em
}

h1 span.nivel-directorio {
	display: block;
	border-bottom: 1px solid #1d5878;
	color: #1d5878;
	font: bold 1.27em normal Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
	width: 95%;
	text-align: left;
}

.botonLogin {
	float: right;
	padding: 10px 20px 0 0;
}
/*********************************/
/***** ADMINISTRACION ************/
/*********************************/

/** Usuarios **/
.botonAnadirUsuario {
	float: right;
	padding: 8px 150px 0 0;
}

/** Salas **/
.botonAnadirSala {
	float: right;
	padding: 8px 230px 0 0;
}

/** Sedes **/
.botonAnadirSede {
	float: right;
	padding: 8px 305px 0 0;
}

/** Servicios **/
.botonAnadirServicio {
	float: right;
	padding: 8px 228px 0 0;
}

/*********************************/
/*****   Clima        ************/
/*********************************/

/** Servidores **/
.botonAnadirConfServClima {
	float: right;
	padding: 8px 35px 0 0;
}

/****** Sondas **/
.selectPequeno {
	font-size: 12px;
	text-align: left !important;
	width: 200px;
}

.botonExportacionDatosSonda {
	float: right;
	padding: 8px 33px 0 0;
}

span.etiqueta-titulo-arbol {
	border-bottom: 1px hidden #005C81;
	color: #005C81;
	display: block;
	font: bold 1.28em Arial, Helvetica, sans-serif;
	padding: 44px 0 3px 20px;
	text-align: left;
}

/** Bastidores **/
.botonExportacionBastidorClima {
	float: right;
	padding: 8px 33px 0 0;
}

/** Fichero de datos **/
.botonAñadirFicheroClima {
	float: right;
	padding: 8px 5px 0 0;
}

/********************************/
/*****          Consumo   ******/
/*******************************/
.botonAnadirConfServConsumo {
	float: right;
	padding: 8px 2px 0 0;
}

.botonExportacionBastidorConsumo {
	float: right;
	padding: 8px 5px 0 0;
}

/** Fichero de datos **/
.botonAñadirFicheroConsumo {
	float: right;
	padding: 8px 48px 0 0;
}

/*********************************/
/*****   Consumo Variable  ******/
/********************************/
#radiobuttonset1,#radiobuttonset2 {
	margin-left: 162px;
	margin-top: -30px;
}

/****** Grafica **/
#divGrafica {
	font-size: 13px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #00658F;
	font-weight: bold;
}

.tableLeyenda {
	font-size: smaller;
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	color: black;
}

#cajaLeyenda {
	width: 4px;
	padding-right: 8px;
}

#colorLeyenda {
	width: 4px;
	height: 0;
	border: 5px solid;
	overflow: hidden;
}

/**** login ***/
#login_container {
	margin-top: 140px;
	margin-left: 140px;
	width: 200px;
}

#login_container .header {
	background: url("../images/col_iz_top.gif") no-repeat scroll 0 0 #FFFFFF;
	float: right;
	height: 14px;
	margin: 0;
	padding: 0;
	width: 299px;
}

#login_container .footer {
	background: url("../images/col_iz_bottom.gif") no-repeat scroll 0 0
		#FFFFFF;
	float: right;
	height: 14px;
	margin: 0;
	padding: 0;
	width: 299px;
}

#login {
	background: none repeat scroll 0 0 #E5E5E5;
	float: right;
	width: 298px;
}

div.login_box input.submit_black {
	width: 73px;
}

#login div.filter_separator_line {
	margin: 0 10px;
}

div.login_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 12px;
}

div.login_input {
	font-size: 12px;
	margin-left: 12px;
}

.botonLoginEntrar {
	float: right;
	padding: 10px 20px 0px 0px;
}

#menu {
	background: none repeat scroll 0 0 #333333;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 16em;
}

#menu li {
	font: 100% "Lucida Sans Unicode", "Bitstream Vera Sans",
		"Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica,
		sans-serif;
	margin: 0;
	padding: 0;
}

#menu a {
	background: none repeat scroll 0 0 #2e90bd;
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 10px 12px;
	text-decoration: none;
}

#menu a:hover {
	background: url("images/hover.gif") no-repeat scroll left center #1d5878;;
	color: #FFFFFF;
	padding-bottom: 8px;
}

#fecha {
	margin-top: 9px;
	text-align: right;
	color: SlateGrey;
	font-weight: bolder;
	margin-bottom: 10px;
}

.enlace {
	color: black;
	text-decoration: underline;
}

.botonesDetalle {
	float: left;
	padding: 8px 0 150px 200px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	/*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	/*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active,html ul.tabs li.active a:hover {
	/*--Makes sure that the active tab does not
        listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff;
	/*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
}