.calendarHeader {
	width: 100%;
	border: solid none #000000;
	margin: 0;
	padding: 0;
	background-color: #CCFFFF;
	border-collapse: separate;
	border-spacing: 0;
	height: 25px;
	text-align: center;
	vertical-align: center;
}

.calendarDias {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
	text-align: center;
	vertical-align: center;
}

.TESTcpDayColumnHeader,.TESTcpCurrentMonthDate,.TESTcpCurrentMonthDateDisabled,.TESTcpOtherMonthDate,.TESTcpOtherMonthDateDisabled,.TESTcpCurrentDate,.TESTcpCurrentDateDisabled,.TESTcpTodayText,.TESTcpTodayTextDisabled,.TESTcpText
	{
	color: #666666;
	font-weight: normal;
	text-align: center;
	width: 1.5em;
}

.TESTcpYearNavigation .TESTcpMonthNavigation {
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
}

.TESTcpMonthNavigationLeftArrow {
	background: url("/MWEB/imagenes/leftArrow.gif") no-repeat scroll 0 0
		transparent;
	bottom: 0;
	cursor: pointer;
	height: 12px;
	left: 20px;
	position: absolute;
	top: 8px;
	width: 9px;
	z-index: 1;
}

.TESTcpMonthNavigationRightArrow {
	position: absolute;
	cursor: pointer;
	top: 8px;
	bottom: 0;
	width: 9px;
	height: 12px;
	right: 20px;
	z-index: 1;
	background: url("/MWEB/imagenes/rightArrow.gif") no-repeat;
}

TD.TESTcpDayColumnHeader {
	text-align: right;
	border: solid none #99CCCC;
	border-width: 0 0 1 0;
	background-color: #CCFFFF;
	padding: 2px;
}

.TESTcpCurrentMonthDate,.TESTcpOtherMonthDate,.TESTcpCurrentDate {
	text-align: right;
	text-decoration: none;
	margin-right: 5px;
}

.TESTcpCurrentDate a:link,a:visited,a:hover,a:active {
	color: #000000;
	text-decoration: none;
}

.TESTcpCurrentMonthDate a:link,a:visited,a:hover,a:active {
	color: #000000;
	text-decoration: none;
}

.TESTcpOtherMonthDate a:link,a:visited,a:hover,a:active {
	color: #CCCCCC;
	text-decoration: none;
}

.TESTcpCurrentMonthDateDisabled,.TESTcpOtherMonthDateDisabled,.TESTcpCurrentDateDisabled
	{
	color: #D0D0D0;
	text-align: right;
	text-decoration: line-through;
	margin-right: 5px;
}

.TESTcpCurrentMonthDate {
	color: #99CCCC;
	font-weight: normal;
}

.TESTcpCurrentDate {
	color: #FFFFFF;
	font-weight: none;
}

.TESTcpOtherMonthDate {
	color: #808080;
}

TD.TESTcpCurrentDate {
	color: #FFFFFF;
	border-width: 1;
	border: solid thin #000000;
}

TD.TESTcpCurrentDateDisabled {
	border-width: 1;
	border: solid thin #CCCCCC;
}

TD.TESTcpTodayText,TD.TESTcpTodayTextDisabled {
	border: solid thin #CCCCCC;
	border-width: 1 0 0 0;
}

A.TESTcpTodayText,SPAN.TESTcpTodayTextDisabled {
	height: 20px;
}

A.TESTcpTodayText {
	color: black;
	font-weight: normal;
}

SPAN.TESTcpTodayTextDisabled {
	color: #D0D0D0;
}

.TESTcpBorder {
	border: solid thin #CCCCCC;
}